@font-face {
  font-family: OpenSans;
  src: url(./assets/OpenSans-Regular.ttf);
}

html {
  box-sizing: border-box;
  font-size: 10px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: OpenSans !important;
}
.MuiTableHead-root {
  background-color: rgba(240, 244, 247, 0.6);
}

body {
  padding: 0;
  margin: 0;
  font-family: OpenSans !important;
  font-size: 1.5rem;
  line-height: 2;
  outline: none;
  height: 100%;
}

div,
span,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}
.flex {
  display: flex;
  align-items: center;
}
img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}

.dropdown {
  background-color: white;
}

.dropdown-header {
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  font-weight: 600;
  color: #888888;
  border-bottom: 1px solid #e5e8ec;
}

.dropdown-body {
  padding: 5px;
  display: none;
  border-bottom: 1px solid #e5e8ec;
}

.dropdown-body.open {
  display: block;
}

.dropdown-item:hover {
  cursor: pointer;
}

.dropdown-item-dot {
  opacity: 0;
  color: #91a5be;
  transition: all 0.2s ease-in-out;
}

.dropdown-item-dot.selected {
  opacity: 1;
}

.icon {
  font-size: 13px;
  color: #91a5be;
  transform: rotate(0deg);
  transition: all 0.2s ease-in-out;
}

.icon.open {
  transform: rotate(90deg);
}
.dropdown-header.open {
  background-color: rgba(240, 244, 247, 0.6);
}

.clear {
  border: none;
  outline: none;
  color: green;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}
.clear:hover {
  text-decoration: underline;
  transition: 0.3s;
}
.tab2 {
  padding: 10px;
}
.chips {
  display: flex;
  flex-wrap: wrap;
}
.chips li {
  margin-right: 5px;
  margin-bottom: 10px;
}

.badge {
  font-size: 10px;
  line-height: 10px;
  background-color: rgba(240, 244, 247, 0.6);
  padding: 6px 8px;
  border-radius: 50%;
  text-align: center;
  margin-left: 6px;
}
.tab2 .what {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.87);
  line-height: 1.5rem;
  font-size: 12px;
  margin: 15px 0 10px 0;
}
.MuiTab-wrapper {
  text-transform: capitalize;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.87);
  line-height: 1.5rem;
  font-size: 12px;
  flex-direction: row !important;
}
.MuiTabs-flexContainer {
  border-bottom: 1px solid #e5e8ec;
}
.MuiTab-root {
  padding: 0 10px;
}
.PrivateTabIndicator-colorSecondary-3 {
  background-color: green !important;
}
.MuiMenu-paper {
  margin-top: 50px;
  height: 90vh;
  width: 300px;
}
.MuiMenu-paper::-webkit-scrollbar {
  width: 1px;
}
.MuiMenu-paper::-webkit-scrollbar-track {
  margin-top: 50px;
  margin-bottom: 190px;
  box-shadow: inset 0 0 6px #fff;
}

.MuiMenu-paper::-webkit-scrollbar-thumb {
  background: brown;
  border-radius: 24px;
  outline: 1px solid brown;
}
